<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Page</title>
    <link rel="stylesheet" href="template-styles.css">
</head>
<body>
    <nav>
        <img src="logo.png" alt="logo">
        <a href="account.html">Account</a>
        <a href="events.html">My Events</a>
        <a href="groups.html">Groups</a>
        <a href="search.php">Search</a>
    </nav>
    <h3>CONTENT</h3>
</body>
<footer>
    <p>COSC3046 - Web Programming Studio<br>Group 9 - Hiba Ansari (s4100892), Robert Vo-Ho (s3842127), Mahita Jain (s4038608), Hami Faizal (s402693)</p>
</footer>
</html>